#question-1.md-modal.md-effect-12
    i.icon-icon-close.md-close

    .container: .md-content: .video
        .wistia-video
            .wistia_responsive_padding(style="padding: 56.25% 0 0 0; position: relative;")
                .wistia_responsive_wrapper(style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;")
                    .wistia_embed.wistia_async_jxv4no0s6w(class="seo=false videoFoam=true", style="height: 100%; width: 100%;") &nbsp;